.App {
  margin: 10px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.dotted {
  text-decoration: dotted underline;
}

.card-picture {
  width: 300px;
}

.popover {
  max-width: 500px;
}

.copy-page-location-button {
  width: 140px;
}

.bg-skellige {
  background-color: #663399;
}
